body{
    background-color: #f0f0f0;
}

.menu{
    background-color: #2347ea;
}

.logoicono{
    height: 4em;
}

p{
    font-size: 25px;
    border-radius: 30px;
}

small{
    font-size: 20px;
}

h1{
    color: rgb(35, 35, 35);
    font-size: 80px;
}

h2{
    font-size: 80px;
    color: aliceblue;
}

h3{
    color: aliceblue;
}
h4{
    color: rgb(28, 27, 27);
    font-size: 30px;
}

.containerportada{
    display: flex;
    justify-content: center;
    height: 90vh;
    padding: 10px;
}

.infoportada{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.cuadroimgportada{
    height: 100%;
    width: 100%;
}

.imgportada{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.pys{
    width: 60%;
    height: 0px;
    border-right: 70px solid transparent;
    border-top: 100px solid #428bca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.servi{
    height: 50vh;
    display: flex;
    margin:5px;
    padding: 5px;
}

.carpimg{
    height: 95%;
    width: 45%;
    border-radius: 50px;
}

.dato{
    height: 50%;
    width: 35%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer{
    height: 18vh;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: space-around;
}

i{
    color: aliceblue;
}


@media screen and (max-width: 989px) {
   
    .navbar{
        background-color: rgb(30, 108, 242);
        width: 100vw;
    }

    p{
        color: #f0f0f0;
    }

    .septop{
        height: 15vh;
    }

    .containerportada{
        display: flex;
        justify-content: center;
        height: 50vh;
        padding: 10px;
    }

    .imginicio{
        height: 400px;
        width: 600px;
    }

    .pys{
        width: 75vw;
    }

    .servi{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carpimg{
        height: 20vh;
        width: 35vw;
        border-radius: 50px;
        margin: 2px;
    }

    .dato{
        height: 25vh;
        width: 50vw;
    }
}


/*
.navbar{
    position:fixed;
    top:0;
    width: 100%;
    background-color: #11ffee00;
}
*/